    <div class="int-footer1">
        <nav aria-label="MenuNavegacion">
            <ul>
                <li><a href="index.html"> Inicio </a></li>
                <li><a href="nosotros.html"> Nosotros </a></li>
                <li><a href="anuncios.html"> Anuncios </a></li>
                <li><a href="contacto.html"> Contacto </a></li>
            </ul>
        </nav>
    </div>
    <div class="int-footer2">
        <p>Todos los derechos reservados</p>
        <img src="img/copyrig.png" alt="">
    </div>
