<header>

    <div class="trasnparencia"></div>

    <div class="textos">
        <div class="int-header1">
            <div class="sub-int-header1">
                <a href="index.html">
                    <h1 class="wow bounceIn" data-wow-duration="1s" data-wow-delay="0s">BienesRaices</h1>
                </a>
            </div>
            <div class="sub-int-header2">
                <nav aria-label="MenuNavegacion" class="wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <ul>
                        <li><a href="index.html"> Inicio </a></li>
                        <li><a href="nosotros.html"> Nosotros </a></li>
                        <li><a href="anuncios.html"> Anuncios </a></li>
                        <li><a href="contacto.html"> Contacto </a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="int-header2">
            <h2 class="wow bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                Casas de lujo para clientes exigentes y distinguidos
            </h2>
        </div>
    </div>

    <div class="menu-hamburguer" id="menuh">
        <div id="ln1" class="linea1"></div>
        <div id="ln2" class="linea2"></div>
        <div id="ln3" class="linea3"></div>
    </div>

    <div id="desplegable">
        <nav aria-label="MenuNavegacion">
            <ul>
                <li><a href="index.html"> Inicio </a></li>
                <li><a href="nosotros.html"> Nosotros </a></li>
                <li><a href="anuncios.html"> Anuncios </a></li>
                <li><a href="contacto.html"> Contacto </a></li>
            </ul>
        </nav>
    </div>

</header>
